{% from "erpnext/templates/includes/cart/cart_macros.html" import show_address %}

{% if addresses | length == 1%}
	{% set select_address = True %}
{% endif %}

{% set show_coupon_code = frappe.db.get_single_value('Shopping Cart Settings', 'show_apply_coupon_code_in_website') %}
{% if show_coupon_code == 1%}

<div class="mb-3">
	<div class="row no-gutters">
		<input type="text" class="txtcoupon form-control mr-3 w-25" placeholder="Enter Coupon Code" name="txtcouponcode"  ></input>
		<button class="btn btn-primary btn-sm  bt-coupon">{{ _("Apply Coupon Code") }}</button>
		<input type="hidden" class="txtreferral_sales_partner" placeholder="Enter Sales Partner" name="txtreferral_sales_partner" type="text"></input>
		</div>
</div>
{% endif %}

<div class="mb-3" data-section="click-n-collect-address">
	<h6 class="text-uppercase">{{ _("Pick Location") }}</h6>
	<div class="row no-gutters" data-fieldname="shipping_address_name">
		{% for address in click_n_collect_addresses %}
			<div class="mr-2 mb-2 p2" data-address-name="{{address.name}}" data-address-type="shipping" {% if doc.shipping_address_name == address.name %} data-active {% endif %}>
				{% include "templates/includes/cart/address_card_wh.html" %}
			</div>
		{% endfor %}
	</div>
</div>

<div class="mb-3" data-section="shipping-address">
	<h6 class="text-uppercase">{{ _("Shipping Address") }}</h6>
	<div class="row no-gutters" data-fieldname="shipping_address_name">
		{% for address in shipping_addresses %}
			<div class="mr-2 mb-2 p2 w100 address-container" data-address-name="{{address.name}}" data-address-type="shipping" {% if doc.shipping_address_name == address.name %} data-active {% endif %}>
				{% include "templates/includes/cart/address_card.html" %}
			</div>
		{% endfor %}
	</div>
</div>
<div class="mb-3 custom-control custom-checkbox" data-section="checkbox-same-billing">
	<input type="checkbox" class="custom-control-input" id="input_same_billing" checked>
	<label class="custom-control-label" for="input_same_billing">{{ _('Billing Address is same as Shipping Address') }}</label>
</div>

<div class="mb-3" data-section="billing-address">
	<h6 class="text-uppercase">{{ _("Billing Address") }}</h6>
	<div class="row no-gutters" data-fieldname="customer_address">
		{% for address in billing_addresses %}
			<div class="mr-2 mb-2 p2 w100 address-container" data-address-name="{{address.name}}" data-address-type="billing" {% if doc.customer_address == address.name %} data-active {% endif %}>
				{% include "templates/includes/cart/address_card.html" %}
			</div>
		{% endfor %}
	</div>
</div>
<button class="btn btn-outline-primary btn-sm mt-3 btn-new-address">{{ _("Add a new address") }}</button>

<script>
frappe.ready(() => {
	$(document).on('click', '.address-card', (e) => {
		const $target = $(e.currentTarget);
		const $section = $target.closest('[data-section]');
		$section.find('.address-card').removeClass('active');
		$target.addClass('active');
	});

	$(document).on('click', '.shipping-card', (e) => {
		const $target = $(e.currentTarget);
		const $shipping = $target.closest('[data-shipping-rule-name]');
		const $click_n_collect = $shipping.is('[data-click-n-collect]');
		setup_state();
		$('[data-fieldname="shipping_address_name"]').find('.address-card').removeClass('active');
		$('#input_same_billing').prop("checked", false);
		toggle_billing_address_section(!$('#input_same_billing').is(':checked'));
		toggle_shipping_address_section(!$click_n_collect);
		toggle_pick_location($click_n_collect);
		toggle_same_billing_checkbox(!$click_n_collect);
	});

	$('#input_same_billing').change((e) => {
		const $check = $(e.target);
		const billing_address = $('[data-section="billing-address"]')
			.find('[data-address-name][data-active]').attr('data-address-name');
		const shipping_address = $('[data-fieldname="shipping_address_name"]').find('.active').length;
		toggle_billing_address_section(!$check.is(':checked'));
		const address_name = $('[data-fieldname="shipping_address_name"]').find('.active').closest('[data-address-name]').attr('data-address-name')
		const address_type = $('[data-fieldname="shipping_address_name"]').find('.active').closest('[data-address-type]').attr('data-address-type')
		if ($check.is(':checked')) {
			if (!Boolean(shipping_address)) {
				$('#input_same_billing').prop("checked", false).trigger('change');
				frappe.throw('{{_("Please select a delivery address")}}');
				setup_state();
			} else {
				console.log(address_type, address_name)
				frappe.call({
					type: "POST",
					method: "erpnext.shopping_cart.cart.update_cart_address",
					freeze: true,
					args: {
						address_type: "billing",
						address_name
					},
					callback: function(r) {
						if(!r.exc) {
							$(".cart-tax-items").html(r.message.taxes);
						}
					}
				});
			}
		} else {
			$(`[data-section="billing-address"] [data-address-name="${billing_address}"] .address-card`).removeClass('active');
		}
	});

	$('.btn-new-address').click(() => {
		const d = new frappe.ui.Dialog({
			title: __('New Address'),
			fields: [
				{
					label: __('Address Title'),
					fieldname: 'address_title',
					fieldtype: 'Data',
					reqd: 1
				},
				{
					label: __('Address Line 1'),
					fieldname: 'address_line1',
					fieldtype: 'Data',
					reqd: 1
				},
				{
					label: __('Address Line 2'),
					fieldname: 'address_line2',
					fieldtype: 'Data'
				},
				{
					label: __('City/Town'),
					fieldname: 'city',
					fieldtype: 'Data',
					reqd: 1
				},
				{
					label: __('State'),
					fieldname: 'state',
					fieldtype: 'Data'
				},
				{
					label: __('Country'),
					fieldname: 'country',
					fieldtype: 'Link',
					options: 'Country',
					reqd: 1
				},
				{
					fieldname: "column_break0",
					fieldtype: "Column Break",
					width: "50%"
				},
				{
					label: __('Address Type'),
					fieldname: 'address_type',
					fieldtype: 'Select',
					options: [
						'Billing',
						'Shipping'
					],
					reqd: 1
				},
				{
					label: __('Postal Code'),
					fieldname: 'pincode',
					fieldtype: 'Data'
				},
				{
					fieldname: "phone",
					fieldtype: "Data",
					label: "Phone"
				},
			],
			primary_action_label: __('Save'),
			primary_action: (values) => {
				frappe.call('erpnext.shopping_cart.cart.add_new_address', { doc: values })
					.then(r => {
						frappe.call({
							method: "erpnext.shopping_cart.cart.update_cart_address",
							args: {
								address_type: r.message.address_type,
								address_name: r.message.name
							},
							callback: function (r) {
								d.hide();
								window.location.reload();
							}
						});
					});

			}
		})

		d.show();
	});

	function setup_state() {
		const shipping_address = $('[data-section="shipping-address"]')
			.find('[data-address-name][data-active]').attr('data-address-name');

		const billing_address = $('[data-section="billing-address"]')
			.find('[data-address-name][data-active]').attr('data-address-name');

		const cc_address = $('[data-section="click-n-collect-address"]')
			.find('[data-address-name][data-active]').attr('data-address-name');

		const cc = $('[data-shipping-rule-name][data-active]').closest('[data-shipping-rule-name]').is('[data-click-n-collect]')

		const shipping_rule = $('[data-shipping-rule-name]').find('.active').length

//		$('#input_same_billing').prop('checked', shipping_address === billing_address).trigger('change');
//
//		if (!shipping_address && !billing_address) {
//			$('#input_same_billing').prop('checked', true).trigger('change');
//		}
//
		if (shipping_address) {
			$(`[data-section="shipping-address"] [data-address-name="${shipping_address}"] .address-card`).addClass('active');
		}
		if (billing_address) {
			$(`[data-section="billing-address"] [data-address-name="${billing_address}"] .address-card`).addClass('active');
		}
		if (cc_address) {
			$(`[data-section="click-n-collect-address"] [data-address-name="${cc_address}"] .address-card`).addClass('active');
		}
		toggle_cart_addresses(Boolean(shipping_rule));
		toggle_shipping_address_section(!cc);
		toggle_pick_location(cc);
		toggle_same_billing_checkbox(!cc);

	}

	setup_state();

	function toggle_cart_addresses(flag) {
		$('.cart-addresses').toggle(flag);
	}
	function toggle_billing_address_section(flag) {
		$('[data-section="billing-address"]').toggle(flag);
	}
	function toggle_shipping_address_section(flag) {
		$('[data-section="shipping-address"]').toggle(flag);
	}
	function toggle_same_billing_checkbox(flag) {
		$('[data-section="checkbox-same-billing"]').toggle(flag);
	}
	function toggle_pick_location(flag) {
		$('[data-section="click-n-collect-address"]').toggle(flag);
	}
	function toggle_cart_addresses(flag) {
		$('.cart-addresses').toggle(flag);
	}
});
</script>
